@CHARSET "ISO-8859-1";
ul.dropdown {
	display: block;
}
ul.dropdown, ul.dropdown li, ul.dropdown ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.dropdown {
    float: left;
    position: relative;
    z-index: 597;
}
ul.dropdown li {
    float: left;
    line-height: 1.3em;
    min-height: 1px;
    vertical-align: middle;
}
ul.dropdown li.hover, ul.dropdown li:hover {
    cursor: default;
    position: relative;
    z-index: 599;
}
ul.dropdown ul {
    left: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 100%;
    z-index: 598;
}
ul.dropdown ul li {
    float: none;
}
ul.dropdown ul ul {
    left: 99%;
    top: 1px;
}
ul.dropdown li:hover > ul {
    visibility: visible;
}
ul.dropdown, ul.dropdown li, ul.dropdown ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.dropdown {
    float: left;
    position: relative;
    z-index: 597;
}
ul.dropdown li {
    float: left;
    line-height: 1.3em;
    min-height: 1px;
    vertical-align: middle;
}
ul.dropdown li.hover, ul.dropdown li:hover {
    cursor: default;
    position: relative;
    z-index: 599;
}
ul.dropdown ul {
    left: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 100%;
    z-index: 598;
}
ul.dropdown ul li {
    float: none;
}
ul.dropdown ul ul {
    left: 99%;
    top: 1px;
}
ul.dropdown li:hover > ul {
    visibility: visible;
}
ul.dropdown-vertical {
    width: 200px;
}
ul.dropdown-vertical ul {
    left: 99%;
    top: 1px;
}
ul.dropdown-vertical li {
    float: none;
}
ul.dropdown-vertical-rtl {
    float: right;
}
ul.dropdown-vertical-rtl ul, ul.dropdown-horizontal > li.dropdown-vertical-rtl ul ul {
    left: auto !important;
    right: 99%;
}
ul.dropdown-horizontal li.dropdown-vertical-rtl ul {
    left: auto;
    right: 0;
}
ul.dropdown-vertical-rtl li, li.dropdown-vertical-rtl li {
    text-align: right;
}
ul.dropdown {
    font-weight: bold;
}
ul.dropdown li {
    background-color: #F6F6F6;
    border-color: #FFFFFF #D9D9D9 #D9D9D9;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    color: #000000;
    padding: 7px 10px;
}
ul.dropdown li.hover, ul.dropdown li:hover, ul.dropdown li.on {
    background-color: #EEEEEE;
    color: #000000;
}
ul.dropdown a:link, ul.dropdown a:visited {
    color: #000000;
    text-decoration: none;
}
ul.dropdown a:hover {
    color: #000000;
}
ul.dropdown a:active {
    color: #FFA500;
}
ul.dropdown ul {
    margin-top: 1px;
    width: 150px;
}
ul.dropdown ul li {
    font-weight: normal;
}
ul.dropdown .dir {
    background-image: url("../images/nav-arrow-down.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: 20px;
}
ul.dropdown-horizontal ul .dir {
    background-image: url("../images/nav-arrow-right.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: 15px;
}
ul.dropdown-upward .dir {
    background-image: url("../images/nav-arrow-top.png");
}
ul.dropdown-vertical .dir, ul.dropdown-upward ul .dir {
    background-image: url("../images/nav-arrow-right.png");
}
ul.dropdown-vertical-rtl .dir, ul.dropdown-horizontal > li.dropdown-vertical-rtl ul .dir {
    background-image: url("../images/nav-arrow-left.png");
    background-position: 2px 50%;
    padding-left: 15px;
    padding-right: 10px;
}
ul.dropdown a, ul.dropdown span {
    display: block;
    padding: 7px 10px;
}
ul.dropdown li {
    border: medium none;
    padding: 0;
}
ul.dropdown ul a, ul.dropdown ul span {
    padding: 8px;
}
ul.dropdown li.hover, ul.dropdown li:hover {
    background: url("../images/grad2.png") repeat-x scroll 0 100% transparent;
    color: #000000;
}
ul.dropdown li a:active {
    background: url("../images/grad1.png") repeat-x scroll 0 0 transparent;
}
ul.dropdown ul {
    margin-top: 0;
}
ul.dropdown li a, ul.dropdown .dir {
    border-color: #FFFFFF #D9D9D9 #D9D9D9;
    border-style: solid;
    border-width: 1px 1px 1px 0;
}
ul.dropdown li.on > .dir, ul.dropdown li:hover > .dir, ul.dropdown-horizontal li.dropdown-vertical-rtl li:hover > .dir {
    background-color: #FFFFFF;
    border-color: #FFA500 #D9D9D9 #D9D9D9;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    color: #000000;
}
ul.dropdown ul li.on > .dir, ul.dropdown-vertical li.on > .dir, ul.dropdown ul li:hover > .dir, ul.dropdown-vertical li:hover > .dir {
    border-left: 1px solid #FFA500;
    border-top-color: #FFFFFF;
    padding-left: 15px;
}
ul.dropdown-vertical.dropdown-vertical-rtl li.on > .dir, ul.dropdown-vertical.dropdown-vertical-rtl li:hover > .dir, ul.dropdown-horizontal li.dropdown-vertical-rtl li:hover > .dir {
    background-position: 2px 50%;
    border-left: medium none;
    border-right-color: #FFA500;
    border-top-color: #FFFFFF;
    padding-right: 15px;
}
ul.dropdown-upward li.on > .dir, ul.dropdown-upward li:hover > .dir {
    border-bottom-color: #FFA500;
    border-top-color: #FFFFFF;
}
ul.dropdown-upward ul li.on > .dir, ul.dropdown-upward ul li:hover > .dir {
    border-bottom-color: #D9D9D9;
}
